*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kombh Sans', sans-serif;
}
.blog_to_post{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fff;
}
#blog_img{
    width: 100%;
    height: auto;
    border-radius: 5%;
    filter: drop-shadow(0 6px 12px rgba(255, 255, 255, 0.2));
}
.contetnt_blog1{
    padding:10px;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}